venv/
data/*
__pycache__
.DS_Store


checkpoints/task1/model_epoch*
!checkpoints/task1/model_epoch15.pt
!checkpoints/task1/model_epoch20.pt

checkpoints/task2/model_epoch*
!checkpoints/task2/model_epoch3.pt


checkpoints/task3/model_epoch*
!checkpoints/task3/model_epoch5.pt

checkpoints/task4/model_epoch*
!checkpoints/task4/model_epoch9.pt